services:
  postgres:
    image: postgres:16
    container_name: tabseed_pg
    restart: unless-stopped
    environment:
      POSTGRES_USER: tabseed
      POSTGRES_PASSWORD: tabseed
      POSTGRES_DB: tabseed
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  prometheus:
    image: prom/prometheus:v2.55.1
    container_name: tabseed_prometheus
    restart: unless-stopped
    volumes:
      - ./ops/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:11.2.0
    container_name: tabseed_grafana
    restart: unless-stopped
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "3001:3000"
    volumes:
      - grafana-data:/var/lib/grafana
volumes:
  pgdata:
  grafana-data:
